/* .Create-spot-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  row-gap: 50px;
  width: 70%;
}
.address-form {
  display: flex;
  width: 90%;
  flex-direction: column;
  flex-wrap: wrap;
} */

/* #back-btn {
  align-self: flex-start;
}
#next-btn {
  align-self: flex-end; */
/* } */
.main-page {
  padding-bottom: 50px;
  margin: 0 auto;
  padding-top: 90px;
}

.spot-imges {
  width: 70%;
}
img.spot-img {
  width: 200px;
  aspect-ratio: 4/3;
}
/* img.detail-spot-img {
  max-width: 220px;
  min-width: 300px;
  aspect-ratio: 1/1;
} */
/* img.detail-preview-img {
  width: 450px;
  aspect-ratio: 4/3;
} */
