footer {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 5%;
  bottom: 0;
  background-color: white;
  border-top: solid rgb(219, 216, 216) 1px;
  border-bottom: solid rgb(219, 216, 216) 1px;
}
#copyrigh {
  font-size: 15px;
}
