/* ul */
.spots-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  column-gap: 20px;
}
/* li photo card */
.spot-photo-card {
  display: grid;
  /* border: solid rgb(72, 0, 255) 2px; */
  width: 268px;
  border-radius: 10px;
  margin: 1em auto;
}
.spot-photo-img {
  /* border: solid red 2px; */
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.address {
  grid-area: address;
}
.rating {
  grid-area: rating;
  text-align: right;
}
.price {
  grid-area: price;
}

.spot-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 2;
  width: 100%;
  grid-template-areas:
    "address address rating"
    "price price price";
}
