.login-form {
  display: flex;
  flex-direction: colomn;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 300px;
}

input {
  border: 1.5px solid rgba(149, 147, 147, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  border-radius: 3px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin: 0 auto 10px auto;
  padding: 10px 15px;
  width: 250px;
}
label,
ul {
  display: block;
  margin: 0 auto 10px auto;
  padding: 10px 15px;
  width: 250px;
}
button {
  /* appearance: none; */
  border: 1.5px solid rgba(149, 147, 147, 0.4);
  border-radius: 3px;
  display: block;
  font-size: 18px;
  margin: 0 auto 10px auto;
  padding: 10px 15px;
  width: 250px;
}
